<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.challentec.lmss.app"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@drawable/applog"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.challentec.lmss.app.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 选择设备 -->
        <activity
            android:name="com.challentec.lmss.ui.ChoiceDeviceActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <!-- 二维码扫描 -->
        <activity
            android:name="com.challentec.lmss.ui.CodeScanActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- 设备信息 -->
        <activity
            android:name="com.challentec.lmss.ui.HomeActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!-- 主tab -->
        <activity
            android:name="com.challentec.lmss.ui.MainTabActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <!-- 设置 -->
        <activity
            android:name="com.challentec.lmss.ui.SettingActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.BasicParamActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.ElecParamActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.FloorDisplayActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.MainBoardActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.AutoStudyActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.SoftwareAboutActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.FloorDoorSetActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.ElecAutoStudyParamActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.WellAutoStudyParamActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.ChangeDeviceActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.AboutUsActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.PhoneImeIdActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!-- 测试 -->
        <activity
            android:name="com.challentec.lmss.ui.DeviceTestActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.VectorControlParamsActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.RunControlParamsActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.TimeControlParamsActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.DeviceTestFunctionParamsActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <!-- 监控 -->
        <activity
            android:name="com.challentec.lmss.ui.MonitorActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.DriveStateActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.PortStateActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.CallCommandActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.FastDebugActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.FastDebug2Activity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!-- 故障 -->
        <activity
            android:name="com.challentec.lmss.ui.TroubleActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.TroubleDetailActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!-- 编辑输入框 -->
        <activity
            android:name="com.challentec.lmss.ui.EditItemActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.ScaleEditActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.CheckItemActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="com.challentec.lmss.ui.DateTimeEditActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar" />

        <!-- 心跳服务 -->
        <service android:name="com.challentec.lmss.service.PollingService" >
        </service>
        <service android:name="com.challentec.lmss.service.AutoConnectPollingService" >
        </service>
        <service android:name="com.challentec.lmss.service.LoginPollingService" >
        </service>
    </application>

</manifest>